/* Original FrameUIforFirefox theme by FineFuturity */
/* Tweaks by MrOtherGuy/firefox-csshacks, bmFTzQ/Edge-Frfox & Shina-SG/Shina-Fox */
/* Fork & modifications by KiKaraage */

@import url("icons/icons.css");
@import url("popup-search.css");

/* A) NECCESSITIES */
/* make theming work */
#navigator-toolbox {
  --toolbar-bgcolor: transparent;
}

/* make everything transparent when window is inactive */
:root #PersonalToolbar:-moz-window-inactive,
:root #nav-bar:-moz-window-inactive,
:root #toolbar-menubar:-moz-window-inactive,
:root #titlebar:-moz-window-inactive{
  opacity: 0.3 !important;
}

/* fix private browsing indicator icon in private browsing mode. */
#private-browsing-indicator-with-label > label {
  visibility: collapse !important;
}

#private-browsing-indicator-with-label {
  visibility: visible !important;
  z-index: 1 !important;
  margin-top: 4px !important;
  margin-right: 6px !important;
  transform: scale(0.9) !important;
}

/* Creates placeholders for window controls */
/* Defaults for window controls on RIGHT side of the window */
/* Modify these values to match your preferences */
:root:is([tabsintitlebar], [sizemode="fullscreen"]) {
  --uc-window-control-width: 138px; /* Space reserved for window controls (Win10) */
  /* Extra space reserved on both sides of the nav-bar to be able to drag the window */
  --uc-window-drag-space-pre: 20px; /* left side*/
  --uc-window-drag-space-post: -20px; /* right side*/
}

:root:is([tabsintitlebar][sizemode="maximized"], [sizemode="fullscreen"]) {
  --uc-window-drag-space-pre: 0px; /* Remove pre space */
}

@media  (-moz-platform: windows-win7),
        (-moz-platform: windows-win8){
  :root:is([tabsintitlebar], [sizemode="fullscreen"]) {
    --uc-window-control-width: 105px;
  }
}

@media (-moz-gtk-csd-available) {
  :root:is([tabsintitlebar],[sizemode="fullscreen"]) {
    --uc-window-control-width: 84px;
  }
}
@media (-moz-platform: macos){
  :root:is([tabsintitlebar],[sizemode="fullscreen"]) {
    --uc-window-control-width: 72px;
  }
}

.titlebar-buttonbox, #window-controls{ color: var(--toolbar-color) }
:root[sizemode="fullscreen"] .titlebar-buttonbox-container{ display: none }
:root[sizemode="fullscreen"] #navigator-toolbox { position: relative; }

:root[sizemode="fullscreen"] #TabsToolbar > .titlebar-buttonbox-container:last-child,
:root[sizemode="fullscreen"] #window-controls{
  position: absolute;
  display: flex;
  top: 0;
  right:0;
  height: 40px;
}

:root[sizemode="fullscreen"] #TabsToolbar > .titlebar-buttonbox-container:last-child,
:root[uidensity="compact"][sizemode="fullscreen"] #window-controls{ height: 32px }

#nav-bar{
  border-inline: var(--uc-window-drag-space-pre,0px) solid transparent;
  border-inline-style: solid !important;
/*   border-right-width: calc(var(--uc-window-control-width,0px) + var(--uc-window-drag-space-post,0px)); */
  border-right-width: calc( var(--uc-window-control-width,0px)/3 + var(--uc-window-drag-space-post,0px));
  margin-right: var(--uc-window-control-width) !important;
  background-clip: border-box !important;
  z-index:100 !important;
}

/* Rules for window controls on left layout */
@media (-moz-bool-pref: "userchrome.force-window-controls-on-left.enabled"),
       (-moz-gtk-csd-reversed-placement),
       (-moz-platform: macos){
  :root[tabsintitlebar="true"] #nav-bar{
    border-inline-width: calc(var(--uc-window-control-width,0px) + var(--uc-window-drag-space-post,0px)) var(--uc-window-drag-space-pre,0px)
  }
  :root[sizemode="fullscreen"] #TabsToolbar > .titlebar-buttonbox-container:last-child,
  :root[sizemode="fullscreen"] #window-controls{ right: unset }
}
@media (-moz-bool-pref: "userchrome.force-window-controls-on-left.enabled"){
  .titlebar-buttonbox-container{
    order: -1 !important;
  }
  .titlebar-buttonbox{
    flex-direction: row-reverse;
  }
}

/* This pref can be used to force window controls on left even if that is not normal behavior on your OS */
@supports -moz-bool-pref("userchrome.force-window-controls-on-left.enabled"){
  :root[tabsintitlebar="true"] #nav-bar{
    border-inline-width: calc(var(--uc-window-control-width,0px) + var(--uc-window-drag-space-post,0px)) var(--uc-window-drag-space-pre,0px)
  }
  :root[sizemode="fullscreen"] #TabsToolbar > .titlebar-buttonbox-container:last-child,
  :root[sizemode="fullscreen"] #window-controls{ right: unset; }
  .titlebar-buttonbox-container{
    order: -1 !important;
  }
  .titlebar-buttonbox{
    flex-direction: row-reverse;
  }
}

/* Moves tabs toolbar, bookmarks toolbar and main toolbar to the bottom of the window, and makes tabs be the bottom-most toolbar */
/* By default, menubar will stay on top with two options to select it's behavior - see below */

@-moz-document url(chrome://browser/content/browser.xhtml){
  
  #titlebar{ -moz-appearance: none !important; }
  
  
/* Makes the navbar/ topbar go up. uncomment to go down */

/*   #navigator-toolbox > div{ display: contents }
  .global-notificationbox,
  #mainPopupSet,
  #browser,
  #customization-container,
  #tab-notification-deck{
    order: -1;
  }
 */
  /* Remove the next row if you want tabs to be the top-most row */
  #titlebar{
    order: 2;
    height: 30px;
  } 

  #toolbar-menubar{
    position: fixed;
    display: flex;
    width: 100vw;
    bottom: 0px;
    -moz-window-dragging: drag;
  }
  /* Remove bottom border that won't do anything useful when at bottom of the window */
  #navigator-toolbox{ border-bottom: none !important; }

  #toolbar-menubar > spacer{ flex-grow: 1 }

  #urlbar[breakout][breakout-extend]{
    display: flex !important;
    flex-direction: column-reverse;
    bottom: 0px !important; /* Change to 3-5 px if using compact_urlbar_megabar.css depending on toolbar density */
    top: auto !important;
  }

  .urlbarView-body-inner{ border-top-style: none !important; }

  /* Yeah, removes window controls. Likely not wanted on bottom row  */
/*   #TabsToolbar > .titlebar-buttonbox-container{ display: none } */
  #toolbar-menubar > .titlebar-buttonbox-container{ order: 1000 }

  /* Fix panels sizing */
  .panel-viewstack{ max-height: unset !important; }

  /* Fullscreen mode support */
  #navigator-toolbox[inFullscreen]{ margin-top: 0 !important }
  #navigator-toolbox[inFullscreen][style*="margin-top"]{ visibility: collapse }
  #fullscr-toggler{ bottom: 0; top: unset !important; }
  
  /* These three rules exist for compatibility with autohide_toolbox.css */
  #navigator-toolbox{ bottom: 0px; transform-origin: bottom }
  #main-window > body > box{ margin-top: 0 !important; }
  #toolbar-menubar{ z-index: 1; background-color: var(--lwt-accent-color,black); }
  
  :root[BookmarksToolbarOverlapsBrowser] #navigator-toolbox{
    margin-block: calc(-1 * var(--bookmarks-toolbar-height)) 0 !important;
  }
  :root[BookmarksToolbarOverlapsBrowser] .newTabBrowserPanel{
    padding-block: 0 var(--bookmarks-toolbar-height) !important;
  }
  
  /**************
  Menubar options - By default, menubar is overlayed on top of web-content
  ***************/

 /* Uncomment the following if you want static menubar on top of the window (make menubar enabled)
  * Use when menubar is enabled to always show it */
  
  /*
  #browser,#customization-container{ padding-top: var(--uc-menubar-spacer,28px) }
  */
  
  /* OR, uncomment the following if you want menubar to appear below content, above tabs toolbar */

  /* add padding to left side of menu bar items to align with bookmarks and nav bar */
  #toolbar-menubar #menubar-items {padding-left: 10px !important;}
  #toolbar-menubar{ background: transparent !important; position: static; display: flex; margin-top: 0px !important; }
 
  /* set to "column-reverse" (without quotes) if you want tabs above menubar with the above option */
  #titlebar{ flex-direction: column-reverse }
}

/* ================= START MODIFICATIONS HERE ================= */

.titlebar-buttonbox{
  z-index: 10000 !important;
}

/* hide everything BUT the window controls on tab bar */
#TabsToolbar tab,
#TabsToolbar-customization-target,
#firefox-view-button,
.tabs-alltabs-button {
    visibility: hidden !important;
    background:transparent !important;
}
/* ----------------------------------------------------------- */

#TabsToolbar .titlebar-buttonbox-container {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

/* prep for window controls + move nav-bar into now empty tab bar */
#nav-bar {
/*   margin-left: 84px !important; */
     margin-bottom: -33px !important;
/*   margin-right: 144px !important; */
/*   background: purple !important; */
}

#nav-bar .toolbarbutton-icon {scale: 0.85;}

#PersonalToolbar {
  background: transparent !important;
  order: -1;
}
/* ----------------------------------------------------------- */

/* fix issue with bottom of window getting cut off when going into new tab */
:root[BookmarksToolbarOverlapsBrowser] .newTabBrowserPanel {
	margin-top:-28px !important;
/*   background: orange !important; */
	
}

:root[BookmarksToolbarOverlapsBrowser] #sidebar-box {
	margin-top:-28px !important; 
/*   background:orange !important; */
}

/* ============================================================ */

/* B) NAVBAR & URLBAR */

:root {
  --urlbarView-item-inline-padding: calc(1px + var(--uc-urlbar-inline-padding) + var(--uc-urlbar-icon-inline-padding)) !important;
  --urlbar-icon-border-radius: 99px !important;
  --urlbar-icon-padding: calc(var(--toolbarbutton-inner-padding) - 2px) !important;
  --urlbar-margin-inline: 3px !important;
  --identity-box-margin-inline: 6px !important;
  --uc-urlbar-icon-inline-padding: 3px !important;
  --uc-urlbar-inline-padding: 6px;
  --uc-urlbar-shadow: 0 0 0px rgb(0 0 0 / .1);
   --urlbarView-rich-suggestion-default-icon-size: 32px !important;

  /* urlbar height */
  & #urlbar-container {
    --urlbar-container-height: calc(8px + 14px + var(--toolbarbutton-inner-padding) * 2) !important;
  }

  & #urlbar {
    background-color: #00000017;
    border-radius: 50px;
    --urlbar-toolbar-height: calc(5px + 16px + var(--toolbarbutton-inner-padding) * 2) !important;
    --urlbar-height: calc(16px + var(--toolbarbutton-inner-padding) * 2) !important;
    --urlbar-min-height: calc(16px + var(--toolbarbutton-inner-padding) * 2) !important;
    font-size: 1em !important;
  }

  /* Spacing for urlbar suggestion icons. */
  .urlbarView-row {
    --urlbarView-icon-margin-start: 0px !important;
    --urlbarView-icon-margin-end: calc(var(--uc-urlbar-icon-inline-padding) + var(--identity-box-margin-inline)) !important;
  }
}

/* Appearance for URL bar. */
#urlbar-background,
#searchbar {
  border-radius: calc(var(--urlbar-icon-border-radius) + 2px) !important;
  border-color: transparent !important;

  /* Shadow for URL bar, only appears in light mode. */
  :root:not(:-moz-lwtheme) #nav-bar:not([brighttext]) & {
    box-shadow: var(--uc-urlbar-shadow, none);
  }

  /* Appearance when the URL bar is expanded. */
  #urlbar[open] & {
    border-radius: 4px !important;
    border-color: transparent !important;
    outline: 0px solid var(--arrowpanel-border-color) !important;

    &:not(:-moz-lwtheme) {
      outline-color: transparent !important;
    }
  }
}

/* Add padding to sides of URL bar. */
#urlbar-input-container,
#searchbar {
  padding-inline: var(--uc-urlbar-inline-padding) !important;
}

#urlbar #urlbar-input {text-align: center !important}
#urlbar-background {background: transparent !important;}
#urlbar[focused="true"] > #urlbar-background {background: var(--arrowpanel-background) !important;}

/* URL bar suggestions container. */
.urlbarView {
  margin-top: 2px !important;
  margin-inline: 0 !important;
  width: 100% !important;
  border-inline: 0 !important;
  padding-block: 0 !important;
  background: var(--arrowpanel-background) !important;
  border-radius: 0 0 8px 8px !important;


  & .urlbarView-body-inner {
    width: 100% !important;
    margin-inline-start: 5px !important;
    margin-inline-end: 5px !important;
    margin-block-start: 5px !important;
  }

  /* Remove padding from top of URL bar results, not needed as URL bar input already has padding. */
  & .urlbarView-results {
    padding-block-start: 0 !important;
  }
}

/* URL bar item. */
.urlbarView-row {
  padding-block: 0 !important;
  border: none !important;
  border-radius: 8px !important;
  margin-inline: 3px !important;
  
  /* Vertically align search suggestion thumbnail images. */
  &[rich-suggestion] > .urlbarView-row-inner > .urlbarView-favicon {
    margin-inline-start: calc(var(--urlbarView-icon-margin-start) + (16px - var(--urlbarView-rich-suggestion-default-icon-size)) / 2) !important;
    margin-inline-end: calc(var(--urlbarView-icon-margin-end) + (16px - var(--urlbarView-rich-suggestion-default-icon-size)) / 2) !important;
  }
}

/* Keep URL bar in place when expanding. */
#urlbar[breakout][breakout-extend] {
/*  left: 0 !important; */
/*  width: 98% !important; */
}

/* Search engine selector */
.search-one-offs:not([hidden]) {
  padding-block: 6px !important;

  & .searchbar-engine-one-off-item {
    min-width: 30px !important;
    height: 30px !important;
  }

  .urlbarView:not([noresults]) > & {
    border-color: var(--urlbarView-separator-color) !important;
  }

  #urlbar-anon-search-settings {
    margin-inline-end: 8px !important;
  }
}

/* Search engine indicator. */
#urlbar-search-mode-indicator {
  :root:not(:-moz-lwtheme) & {
    background-color: var(--urlbar-box-hover-bgcolor) !important;
  }

  & #urlbar-search-mode-indicator-title {
    font-size: 0.9em !important;
  }
}

/* Remove border between URL bar input and suggestions. */
#urlbar[open] > .urlbarView > .urlbarView-body-outer > .urlbarView-body-inner {
  border-top: 0 !important;
  align: center !important;
}

/* Buttons inside the URL bar. */
.urlbar-page-action,
#urlbar-go-button,
.search-go-button,
#tracking-protection-icon-container,
#identity-icon-box,
#identity-permission-box {
  padding-inline: calc(var(--uc-urlbar-icon-inline-padding) + 2px) !important;
/*  width: calc(var(--uc-urlbar-icon-inline-padding) * 2 + 14px) !important; */
  scale: 0.9 !important;
}

/* Site information and Permissions buttons. */
#identity-icon-box,
#identity-permission-box,
.notification-anchor-icon {
  padding-inline: var(--uc-urlbar-icon-inline-padding) !important;
}

/* Zoom level and tab container indicators. */
#userContext-icons,
#urlbar-zoom-button {
  padding-inline: var(--uc-urlbar-icon-inline-padding) !important;
  margin-block: 0 !important;
  margin-inline: 0 !important;
  visibility: collapse !important;
}

/* Move tracking protection button. */
#tracking-protection-icon-container,
#page-action-buttons {
  order: 2 !important;
}

/* Show translation button on URL bar. */
#translation-button {
   hidden: false !important;
   display: flex !important;
   }


/* Pin icon for URL bar suggested sites. */
.urlbarView-row[pinned] > .urlbarView-row-inner > .urlbarView-no-wrap > .urlbarView-type-icon {
  fill: var(--toolbar-field-color) !important;
}

#urlbar-input::placeholder,
.searchbar-textbox::placeholder {
  opacity: 0.6 !important;
}

/* Make the lock icon brighter in dark mode. */
#nav-bar[brighttext] #identity-box:not([pageproxystate="invalid"]) #identity-icon {
  fill-opacity: calc(var(--urlbar-icon-fill-opacity) * 1.8) !important;
}

/* Make the URL bar label opaque in light mode, matching the icons. */
#nav-bar:not([brighttext]) #identity-box #identity-icon-label {
  opacity: var(--urlbar-icon-fill-opacity) !important;
}

/* Label on the left of the URL bar, shown when viewing Firefox or extension pages. */
#identity-box[pageproxystate="valid"]:is(.notSecureText, .chromeUI, .extensionPage) > .identity-box-button {
  position: relative;
  width: unset !important;

  /* Spacing between the icon and label. */
  & #identity-icon-label {
  visibility: collapse !important;
  }

  /* Separator to the right of the label. */
  &::after {
    content: "";
    position: absolute;
    height: 16px;
    border-right: 0px solid currentColor;
    right: 0;
    inset-block: 0;
    margin-block: auto;
    opacity: 0;
  }

  /* Fractional scaling adjustments (150%, 175%, etc.) */
  @media (1dppx < resolution < 2dppx) {
    &::after {
      border-right-width: 1.5px !important;
    }
  }

  /* Remove background from urlbar box. */
  &:not(:hover, [open]) {
    background-color: transparent !important;

    /* Separator opacity */
    &::after {
      opacity: 0;
    }
  }

  /* Fade transition for separator. */
  @media not (prefers-reduced-motion) {
    &::after {
      transition: opacity 0.2s ease;
    }
  }
}

/* C) POPUP & CONTEXT MENU */

:root {
  --panel-subview-body-padding: 2px 0 !important;
  --arrowpanel-border-radius: 8px !important;
  --arrowpanel-menuitem-border-radius: 4px !important;
  --arrowpanel-menuitem-margin: var(--uc-arrowpanel-menuitem-margin-block) var(--uc-arrowpanel-menuitem-margin-inline) !important;
  --arrowpanel-menuitem-padding-block: 6px !important;
  --arrowpanel-menuitem-padding-inline: 10px !important;
  --uc-arrowpanel-menuicon-margin-inline: 14px;
  --uc-arrowpanel-menuitem-margin-inline: 4px;
  --uc-arrowpanel-menuitem-margin-block: 2px;
  --panel-separator-margin-vertical: 2px !important;
  --panel-separator-margin-horizontal: 0 !important;

  --uc-panel-zoom-button-padding: 8px;
  --uc-panel-zoom-button-inline-padding: 9px;
  --uc-panel-zoom-padding-block: calc(var(--panel-separator-margin-vertical) + var(--uc-arrowpanel-menuitem-margin-block));

  --uc-autocomplete-panel-menuitem-margin: 4px;
  --uc-autocomplete-panel-menuicon-padding-inline: 14px;
  --uc-autocomplete-panel-separator-margin-vertical: 4px;

  --uc-permission-itemcontainer-padding-block: 8px;
  --uc-permission-item-margin-block: 4px;
  --uc-permission-item-padding-inline: 16px;

  --uc-contextmenu-border-radius: 8px;
  --uc-contextmenu-padding: calc(4px - var(--uc-contextmenu-menuitem-border-width)) 0;
  --uc-contextmenu-menuitem-border-radius: calc(4px + var(--uc-contextmenu-menuitem-border-width));
  --uc-contextmenu-menuitem-padding-block: 6px;
  --uc-contextmenu-menuitem-padding-inline: 10px;
  --uc-contextmenu-menuitem-border-width: 2px;
  --uc-contextmenu-menuicon-margin-inline: 12px;
  --uc-contextmenu-menuitem-margin-inline: calc(4px - var(--uc-contextmenu-menuitem-border-width));
  --uc-contextmenu-menuitem-margin-block: 0px;
  --uc-contextmenu-menuitem-margin: var(--uc-contextmenu-menuitem-margin-block) var(--uc-contextmenu-menuitem-margin-inline);
  --uc-contextmenu-separator-vertical: calc(4px - var(--uc-contextmenu-menuitem-border-width));
  --uc-contextmenu-separator-horizontal: 0;
}

/* app menu */
.addon-banner-item,
.panel-banner-item {
  margin: 2px 4px 2px !important;
  padding-inline: 4px 12px !important;
  padding-block: var(--arrowpanel-menuitem-padding-block) !important;
  border-radius: var(--arrowpanel-menuitem-border-radius) !important;
}

#appMenu-fxa-label2 label,
#PanelUI-fxa-menu-syncnow-button label {
  margin-block: 0 !important;
}

.widget-overflow-list .toolbarbutton-1:not(.toolbarbutton-combined) > .toolbarbutton-text,
.subviewbutton:not(#appMenu-zoom-controls > .subviewbutton) > .toolbarbutton-icon + .toolbarbutton-text,
#appMenu-fxa-label2 > vbox {
  padding-inline-start: var(--uc-arrowpanel-menuicon-margin-inline) !important;
}

/* special case menuitems with no icons */
#appMenu-zoom-controls > .toolbarbutton-text,
#fxa-manage-account-button > vbox,
#PanelUI-fxa-menu-syncnow-button > hbox {
  padding-inline-start: calc(16px + var(--uc-arrowpanel-menuicon-margin-inline)) !important;
}

.subviewbutton > .toolbarbutton-icon {
  width: 16px !important;
}

/* firefox profile avatar in appmenu */
#appMenu-fxa-label2::before {
  content: "";
  display: flex;
  height: 16px;
  width: 16px;
  background: var(--avatar-image-url) 0/16px;
  scale: 1.25;
  border-radius: 99px;
}

/* disable proton account separator */
#appMenu-fxa-separator {
  border-image: none !important;
}

#appMenu-fxa-status2:not([fxastatus]) {
  padding-block: 0 !important;
}

#appMenu-fxa-status2:not([fxastatus]) > #appMenu-fxa-label2 {
  margin-inline-end: calc(var(--arrowpanel-menuitem-padding-inline) * -1) !important;
}

/* zoom controls */
#appMenu-zoom-controls {
  border-top: 1px solid var(--panel-separator-color) !important;
  padding-inline: calc(var(--arrowpanel-menuitem-padding-inline) + var(--uc-arrowpanel-menuitem-margin-inline)) var(--uc-arrowpanel-menuitem-margin-inline) !important;
  padding-block-start: calc(var(--uc-panel-zoom-padding-block) + 3px) !important;
  padding-block-end: 0 !important;
  margin: var(--panel-separator-margin-vertical) 0 calc(var(--panel-separator-margin-vertical) * -1) !important;
}

#appMenu-zoom-controls > .subviewbutton {
  padding: var(--uc-panel-zoom-button-padding) var(--uc-panel-zoom-button-inline-padding) !important;
  margin: 0 !important;
}

#appMenu-zoom-controls > #appMenu-zoomReset-button2 {
  padding: var(--uc-panel-zoom-button-padding) calc(var(--uc-panel-zoom-button-padding) / 2) !important;
}

/* #appMenu-zoomReduce-button2, */
#appMenu-zoom-controls > #appMenu-fullscreen-button2 {
  margin-left: calc((var(--panel-separator-margin-vertical) + var(--uc-arrowpanel-menuitem-margin-block)) * 2 + 1px) !important;
}

#appMenu-zoom-controls > #appMenu-fullscreen-button2::before {
  content: "";
  border-inline-start: 1px solid var(--panel-separator-color);
  display: block;
  position: relative;
  height: 32px;
  margin-block: calc(var(--uc-panel-zoom-button-padding) * -1);
  transform: translateX(calc(var(--uc-panel-zoom-button-inline-padding) * -1 - (var(--panel-separator-margin-vertical) + var(--uc-arrowpanel-menuitem-margin-block)) - 1px));
}

#appMenu-zoomReset-button2 {
  height: calc(16px + var(--uc-panel-zoom-button-padding) * 2) !important;
  min-height: calc(16px + var(--uc-panel-zoom-button-padding) * 2) !important;
}

#appMenu-zoomReduce-button2:not([disabled], [open], :active):is(:hover),
#appMenu-zoomEnlarge-button2:not([disabled], [open], :active):is(:hover),
#appMenu-fullscreen-button2:not([disabled], [open], :active):is(:hover),
#appMenu-zoomReset-button2:not([disabled], [open], :active):is(:hover) {
  background-color: var(--panel-item-hover-bgcolor) !important;
}

#appMenu-zoomReduce-button2:not([disabled]):is([open], :hover:active),
#appMenu-zoomEnlarge-button2:not([disabled]):is([open], :hover:active),
#appMenu-fullscreen-button2:not([disabled]):is([open], :hover:active),
#appMenu-zoomReset-button2:not([disabled]):is([open], :hover:active) {
  background-color: var(--panel-item-active-bgcolor) !important;
}

#appMenu-zoomReduce-button2 > .toolbarbutton-icon,
#appMenu-zoomEnlarge-button2 > .toolbarbutton-icon {
  fill: currentColor !important;
  stroke: none !important;
}

#appMenu-zoomReset-button2 > .toolbarbutton-text,
#appMenu-fullscreen-button2 > .toolbarbutton-icon {
  background-color: transparent !important;
  padding: 0 !important;
}

.subviewbutton[shortcut]::after {
  opacity: 0.7 !important;
}

#widget-overflow-mainView .panel-subview-body {
  padding-bottom: 0 !important;
}

.PanelUI-subView > .panel-header + toolbarseparator {
  margin-bottom: 0 !important;
}

.PanelUI-subView > .panel-header + toolbarseparator + .panel-subview-body {
  padding-top: var(--panel-separator-margin-vertical) !important;
}

#identity-popup-security-button {
  margin-bottom: var(--panel-separator-margin-vertical) !important;
}

#permission-popup-mainView-panel-header,
#identity-popup-mainView-panel-header,
#protections-popup-mainView-panel-header,
.panel-header {
  min-height: calc((var(--arrowpanel-menuitem-padding-block) + 4px) * 2 + 16px) !important;
}

  /* context menu */
@media {
  menupopup:not(.PanelUI-subView),
  menupopup:not(.PanelUI-subView) menuitem,
  menupopup:not(.PanelUI-subView) menu,
  menupopup:not(.PanelUI-subView) menuseparator,
  panel:not(#PopupSearchAutoComplete) {
    appearance: none !important;
  }

  menupopup:not(.PanelUI-subView),
  #PopupAutoComplete,
  menulist > menupopup:not(.PanelUI-subView) > menucaption {
    -moz-window-shadow: none !important;
    background: 0 !important;
    border: 0 !important;
    color: var(--arrowpanel-color) !important;
  }

  .popup-internal-box,
  #PopupAutoComplete > .autocomplete-richlistbox,
  .menupopup-arrowscrollbox {
    background: var(--arrowpanel-background) !important;
    border: 1px solid var(--arrowpanel-border-color) !important;
  }

  /* make room for menu shadow */
  menupopup:not(.PanelUI-subView) {
    padding: 4px 12px 20px !important;
    margin: -6px -12px -16px !important;
  }

  /* cut off shadow so it doesn't get in the way of the menubar items */
  menubar menupopup {
    padding: 1px 8px 20px !important;
    margin: -1px -4px -16px !important;
  }

  menupopup {
    --uc-margin: 0 !important;
    --uc-outline-color: #0001;
    --uc-box-shadow:
      0 8px 12px #0003,
      0 4px 5px #0002,
      0 2px 4px #0002;
  }

  @media (prefers-color-scheme:dark) {
    menupopup {
      --uc-outline-color: #0002;
      --uc-box-shadow:
        0 8px 12px #0003,
        0 4px 5px #0003,
        0 2px 4px #0002;
    }
  }

  /* use default shadow for subview menupopup (eg. bookmarks) */
  menupopup.PanelUI-subView {
    --uc-box-shadow: 0 0 0 1px var(--panel-border-color);
    --uc-margin: 1px !important;
    margin-top: -5px !important;
  }

  .menupopup-arrowscrollbox {
    box-shadow: var(--uc-box-shadow) !important;
    outline: .5px solid var(--uc-outline-color) !important;
  }

  .popup-internal-box {
    margin: 0 !important;
  }

  .popup-internal-box,
  .menupopup-arrowscrollbox {
    padding: var(--uc-contextmenu-padding) !important;
    border-radius: var(--uc-contextmenu-border-radius) !important;
    color: inherit !important;
  }

  menupopup menu[disabled="true"],
  menupopup menuitem[disabled="true"] {
    color: var(--panel-disabled-color) !important;
    background: none !important;
  }

  menupopup menu:hover:not([disabled=true]),
  menupopup menuitem:hover:not([disabled=true]),
  menupopup menu[_moz-menuactive]:not([disabled=true]),
  menupopup menuitem[_moz-menuactive]:not([disabled=true]) {
    background-color: var(--panel-item-hover-bgcolor) !important;
    color: inherit !important;
  }

  menupopup menuitem:hover:active:not([disabled=true]),
  menupopup menu:hover:active:not([disabled=true]) {
    background-color: var(--panel-item-active-bgcolor) !important;
    color: inherit !important;
  }

  menupopup menuseparator,
  panel menuseparator,
  #PopupSearchAutoComplete .searchbar-separator {
    margin: var(--uc-contextmenu-separator-vertical) 0 !important;
    padding: 0 !important;
    background: none !important;
    border-top: 1px solid var(--panel-separator-color) !important;

    &::before {
      content: unset !important;
    }
  }

  #PlacesToolbar menupopup[placespopup="true"] menuseparator::before {
    display: none !important;
  }

  menupopup menu,
  menupopup menuitem,
  menupopup menucaption,
  #PopupAutoComplete > richlistbox > richlistitem,
  #PopupSearchAutoComplete .autocomplete-richlistitem {
    padding: var(--uc-contextmenu-menuitem-padding-block) var(--uc-contextmenu-menuitem-padding-inline) !important;
    margin: var(--uc-contextmenu-menuitem-margin) !important;
    border-radius: var(--uc-contextmenu-menuitem-border-radius) !important;
    border: var(--uc-contextmenu-menuitem-border-width) solid transparent !important;
    background-clip: padding-box !important;
    min-height: calc(16px + (var(--uc-contextmenu-menuitem-padding-block) + var(--uc-contextmenu-menuitem-border-width)) * 2) !important;
  }

  :not(:not(menubar)>menu, #ContentSelectDropdown) > menupopup > menuitem:not(.menuitem-iconic, [type="checkbox"], [type="radio"], .in-menulist, .in-menulist menuitem, .unified-nav-current),
  :not(:not(menubar)>menu, #ContentSelectDropdown) > menupopup > menu:not(.menu-iconic, [type="checkbox"], [type="radio"], .in-menulist, .in-menulist menu, .unified-nav-current),
  :not(:not(menubar)>menu, #ContentSelectDropdown) > menupopup > menucaption {
    padding-inline-start: calc(var(--uc-contextmenu-menuitem-padding-inline) + 16px + var(--uc-contextmenu-menuicon-margin-inline)) !important;
  }

  .menu-iconic-icon {
    margin-block: 0 !important;
    margin-inline-end: 0 !important;
    margin-inline-start: 0 !important;
  }

  menu > .menu-iconic-text,
  menuitem > .menu-iconic-text,
  /* Used for vertical context navigation tweak. */
  #context-navigation > .menuitem-iconic::after {
    padding-inline-start: var(--uc-contextmenu-menuicon-margin-inline) !important;
  }

  .menu-text,
  .menu-iconic-text {
    margin-inline-start: 0 !important;
    padding-block: 0 !important;
  }

  .menu-accel,
  .menu-iconic-accel {
    margin-inline-end: 0 !important;
    padding-block: 0 !important;
    opacity: 0.7 !important;
  }

  .menu-iconic > .menu-iconic-left,
  .menuitem-iconic > .menu-iconic-left {
    padding-inline-end: 0 !important;
    padding-block: 0 !important;
  }

  menuitem:is(.menuitem-iconic:not([data-usercontextid]), [type="checkbox"], [type="radio"], [checked], [selected]) .menu-iconic-icon {
    -moz-context-properties: fill !important;
    fill: currentColor !important;
  }

  .menu-right,
  .menu-accel-container {
    appearance: none !important;
    margin-inline-end: 0 !important;
    -moz-context-properties: fill;
    fill: currentColor !important;
  }

  menupopup menuitem:is([type="checkbox"], [type="radio"]) .menu-iconic-icon,
  menulist > menupopup > menuitem .menu-iconic-icon,
  menu .menu-right {
    height: 16px !important;
    width: 16px !important;
  }

  menulist > menupopup > menuitem:is([checked="true"], [selected="true"])::before,
  menupopup > menuitem::before,
  menupopup > menu::before,
  menupopup > menuitem::after {
    display: none !important;
  }

  menuitem:is([type="checkbox"], [checked="true"], [type="radio"]) > .menu-iconic-left > .menu-iconic-icon {
    display: flex !important;
  }

  menuitem[checked="true"] > .menu-iconic-left,
  menu > .menu-iconic-left,
  menuitem > .menu-iconic-left {
    margin: 0 !important;
    padding: 0 !important
  }

  #context-navigation:not([hidden]) {
    padding: 0 !important;
    --menuitem-min-width: calc(16px + var(--uc-contextmenu-menuitem-padding-inline) * 2) !important;
    min-width: calc(4 * var(--menuitem-min-width));
  }

  #context-navigation > .menuitem-iconic > .menu-iconic-left > .menu-iconic-icon {
    width: 16px !important;
    height: 16px !important;
    padding: 0 !important;
  }

  #context-navigation {
    margin-inline: var(--uc-contextmenu-menuitem-margin-inline) !important;
  }

  #context-navigation > .menuitem-iconic {
    justify-content: center !important;
  }

  #context-navigation > .menuitem-iconic {
    margin: 0 !important;
  }

  #context-navigation > .menuitem-iconic {
    flex-grow: 1 !important;
    width: unset !important;
  }

  #context-navigation > .menuitem-iconic[_moz-menuactive="true"] > .menu-iconic-left > .menu-iconic-icon {
    background-color: transparent !important;
  }

  #context-bookmarkpage[starred] .menu-iconic-icon {
    fill: var(--lwt-toolbarbutton-icon-fill-attention, var(--toolbarbutton-icon-fill-attention, currentColor)) !important;
  }

/* D) SIDEBAR */

#sidebar-title {
  padding-inline: 0 !important;
  opacity: 40% !important;
}
#sidebar-switcher-target {
  padding: 0px 0px 2px 0px !important;
}

#sidebar-header {
  overflow: hidden;
  color: var(--chrome-color, inherit) !important;
  padding: 6px 0 2px 0 !important;
  font-size: 1em !important;
  font-weight: bold !important;
  border-bottom: 0 !important;
  border-top-right-radius: var(--uc-tweak-rounded-corners-radius) !important;
}

#sidebar-header #sidebar-switcher-target #sidebar-icon,
#sidebar-switcher-arrow,
#sidebar-splitter {
  visibility: collapse !important;
}

#sidebar-close.close-icon.tabbable {
  scale: 0.7 !important;
  opacity: 40% !important;
}

@media (-moz-bool-pref: "uc.tweak.hide-sidebar-header") {
  #sidebar-header {
    visibility: collapse !important;
  }
}

#sidebar-header::before,
#sidebar-header::after {
  content: "";
/*  display: flex; */
  padding-left: 8px;
}

#sidebar-header,
#sidebar {
  background-color: var(--lwt-accent-color) !important;
}

.sidebar-panel {
  background-color: var(--lwt-accent-color) !important;
  color: var(--newtab-text-primary-color) !important;
}

.sidebar-panel #search-box {
  -moz-appearance: none !important;
  background-color: var(--lwt-accent-color) !important;
  color: inherit !important;
}

/* E) EXTENSIONS MENU */ 

/*  Clean and tight extensions menu */
#unified-extensions-panel #unified-extensions-view {
    width: 100% !important;  /*  For firefox v115.x */
}

#unified-extensions-view{
    --uei-icon-size: 16px; /*  Change icon size */
    --firefoxcss-number-of-extensions-in-a-row: 4; /*  Increase to the number of icons you want in one row */
}

#unified-extensions-view:before{
  content: "Extensions";
  text-align: left !important;
  font-weight: bold !important;
  padding-top: 9px !important;
  padding-bottom: 4px !important;
  padding-left: 14px !important;
  }

#unified-extensions-view .panel-header,
#unified-extensions-view .panel-header .panel-header-icon,
#unified-extensions-view .panel-header + toolbarseparator,
#unified-extensions-view .panel-subview-body + toolbarseparator,
#unified-extensions-view #unified-extensions-manage-extensions .toolbarbutton-icon,
#unified-extensions-view .unified-extensions-item-menu-button.subviewbutton,
#unified-extensions-view .unified-extensions-item-action-button .unified-extensions-item-contents{
    visibility: collapse !important;
}

#unified-extensions-view #unified-extensions-manage-extensions .toolbarbutton-text {
    margin: 0 !important;
    padding: 0 !important;
    text-align: center !important;
    }

#unified-extensions-view .panel-subview-body {
    padding: 2px !important;
}

#unified-extensions-view .unified-extensions-item .unified-extensions-item-icon, 
#unified-extensions-view .unified-extensions-item .toolbarbutton-badge-stack {
    margin-inline-end: 0px !important;
}

#unified-extensions-view #overflowed-extensions-list,
#unified-extensions-view #unified-extensions-area,
#unified-extensions-view .unified-extensions-list {
    display: grid !important;
    grid-template-columns: repeat(var(--firefoxcss-number-of-extensions-in-a-row),auto);
    justify-items:left !important;
    align-items:left !important;
}

#unified-extensions-view .unified-extensions-list .unified-extensions-item,
#unified-extensions-view .unified-extensions-list{
     max-width: max-content;
     max-height: max-content;
}

#unified-extensions-view #unified-extensions-area {
/*     padding-top: 0px !important; */
/*     padding-bottom: 0px !important; */
/*     border-bottom: 0px solid #aeaeae33 !important; */
}

#unified-extensions-view .unified-extensions-list {
/*     border-top: 1px solid #aeaeae33 !important; */
}

#wrapper-edit-controls:is([place="palette"], 
[place="panel"]) > #edit-controls, #wrapper-zoom-controls:is([place="palette"], 
[place="panel"]) > #zoom-controls, :is(panelview, #widget-overflow-fixed-list) .toolbaritem-combined-buttons {
  margin: 5px !important;
}
